<h1>Contacts</h1>

<table class="table table-bordered table-striped">
    <thead>
      <tr>
          <th>ID</th>
          <th>Sender E-mail</th>
          <th>Receiver E-mail</th>
          <th>Subject</th>
          <th>Message</th>
          <th>Remove</th>
      </tr>
    </thead>
    <tbody>
    {{#each model as |contact|}}
        <tr>
            <th>{{contact.id}}</th>
            <td>{{contact.senderEmail}}</td>
            <td>{{contact.receiverEmail}}</td>
            <td>{{contact.emailSubject}}</td>
            <td>{{contact.message}}</td>
            <td><button class="btn btn-danger btn-xs" {{action 'deleteContact' contact}}>Delete </button>
      </td>
        </tr>
    {{/each}}

    </tbody>
</table>